blockquote
  background white
  margin 20px 0
  padding 20px
  color color-dark-gray-washed
  font-size 1.33em
  font-style italic
  border-radius 6px
  box-shadow 0 0 3px rgba(black, 0.5) inset
  min-height 80px

  i.fa
    font-size 4em
    color color-medium-gray-washed
    float left
    margin-right 20px
    transition transform 0.1s, color 0.1s
    &:hover
      transform scale(1.1)
      color color-blue-jeans-washed