.main-header
  background white
  box-shadow 0 0 3px rgba(black, 0.5)

  &-home-link
    display block
    height 120px
    text-indent -9000px
    background url('Images/logo.svg') center center no-repeat
    +above(768px)
      float left
      width 100px
      height 60px
      margin-right 20px

  &-title
    display block
    line-height 60px
    text-align center
    +above(768px)
      display inherit
      text-align inherit